<h1 id="welcome">Hello</h1>
<form action="/message">
  <label for="name">What's your name?</label><br />
  <input type="text" id="name" name="name"><br/>
  <label>When's your birthday?</label><br />
  <label for="day">day: </label>
  <input type="text" id="day-box" name="day"><br />
</form> 
